@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "User Page";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UserView</title>
</head>
<body>
    <h1>User Name: @Html.Label((string)ViewBag.userName)</h1>
    <h1>Email: @Html.Label((string)ViewBag.email)</h1>
</body>
</html>
