@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Insurance</title>
</head>
<body>
    <h1>User: @Html.Label((string)ViewBag.user)</h1>
    <h1>Email: @Html.Label((string)ViewBag.email)</h1>
    <h1>Insurance: @Html.Label((string)ViewBag.insurance)</h1>
</body>
</html>
